@import '~style/helpers';

.banner {
  margin-top: 10%;
  margin-bottom: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  img{
    width: 120px;
    height: 120px;
  }

}



.torobtitle {
  color: rgb(229, 24, 55);
  font: normal normal normal normal 40px / 57.1429px Shabnam, Arial;
}

.torobsubtitle {
  color: rgb(165, 162, 162);
  display: block;
  font: normal normal normal normal 13.6px / 19.4286px Shabnam, Arial;
}

